<a href="https://colab.research.google.com/github/pranathiiyer/multi-modal-deep-learning-model/blob/main/cosine_sim_text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
import gspread as gs

In [2]:
df = pd.read_excel('/content/drive/MyDrive/meme_df/meme-generator-dataset/manual description/Text_comparison.xlsx')

In [3]:
df

,Meme Text,Manual Description
0,logging on to discover the guildie who borrowe...,a baby in blue top crying in tears
1,- Wipe Once,a baby in blue top crying in tears
2,Cousins girlfriend takes front Seat блеать,a baby in blue top crying in tears
3,its real life Please,a baby in blue top crying in tears
4,two tears i can't deal wiff it,a baby in blue top crying in tears
...,...,...
1209,KIdnaps People from africa TOO MAINSTREAM,us flag in the shape of contiguous states with...
1210,проёбываю жизнь днём false. The fastest way to...,a man in his pijama on a sledge riding down th...
1211,gracias a mauri i am the 99%,a man with mustache and curly dark hair in red...
1212,con el arbitraje de puga because it aligns wit...,a man with mustache and curly dark hair in red...
1213,Jugos EL SV DE TF2 ESTA LLENO?CREARE MI PROPIO...,"a women in black dress, long dark hair in fron..."

In [ ]:
from nltk.tokenize import word_tokenize 
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
cosine_sim = []
for x,y in zip(df['Meme Text'], df['Manual Description']):
  X_list = word_tokenize(x)  
  Y_list = word_tokenize(y)   

  l1 =[];l2 =[] 

  X_set = {w for w in X_list}  
  Y_set = {w for w in Y_list}

  rvector = X_set.union(Y_set)  
  for w in rvector: 
      if w in X_set: l1.append(1)
      else: l1.append(0) 
      if w in Y_set: l2.append(1) 
      else: l2.append(0) 
  c = 0
  for i in range(len(rvector)): 
        c+= l1[i]*l2[i] 
  cosine = c / float((sum(l1)*sum(l2))**0.5) 

  cosine_sim.append(cosine)

In [ ]:
import numpy as np

print(np.mean(np.array(cosine_sim)))

0.03530351245549853